
<div class="bgcolor" *ngIf="movieDetails">
  <tr class="centerEle">
    <h1>{{movieDetails.title}}</h1>
  </tr>
  <tr class="item">
      <td class="verticalAlign">Release Date</td>
      <td>{{movieDetails.release_date}}</td>
  </tr>
  <tr class="item">
      <td class="verticalAlign">Overview</td>
      <td>{{movieDetails.overview}}</td>
  </tr>
  <tr class="item">
      <td class="verticalAlign">Genres</td>
      <td>{{movieDetails.genres[0].name}}</td>
  </tr>
  <tr class="item">
      <td class="verticalAlign">Duration</td>
      <td>{{movieDetails.runtime}}</td>
  </tr>
  <tr class="item">
      <td class="verticalAlign">Available in </td>
      <td>{{movieDetails.spoken_languages[0].name}}</td>
  </tr>
  <tr class="item">
      <td class="verticalAlign">Tag Line</td>
      <td>{{movieDetails.tagline}}</td>
  </tr>
  <tr class="item">
      <td class="verticalAlign">Release Status</td>
      <td>{{movieDetails.status}}</td>
  </tr>
</div> 
